.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border-right: none;
  border-left:none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #8FBC8F;
  color:#fff;
  
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: default;
}

.currentPage{
  background-color:#4CAF50;
  padding:5px 8px;
  margin:0 5px;
  color:#fff;
  border-radius:2px;
}

.heading{
  text-align:center;
}